<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <div class="mat-elevation-z8">
                    <div>
                        <span>Sách hiện có: {{books.length}} books!!!</span><br>
<!--                        <button><a style="color: #0004ba" routerLink="books">Create Book in List</a></button>-->
                    </div>
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> No.</th>
                            <td mat-cell *matCellDef="let element; let i = index" > {{i + 1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name Book</th>
                            <td mat-cell *matCellDef="let element"[routerLink]="['/detail-book/', element.id]"> {{element.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="author">
                            <th mat-header-cell *matHeaderCellDef> Author</th>
                            <td mat-cell *matCellDef="let element"[routerLink]="['/detail-book/', element.id]"> {{element.author}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Description</th>
                            <td mat-cell *matCellDef="let element"[routerLink]="['/detail-book/', element.id]"> {{element.description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef> Edit</th>
                            <td mat-cell *matCellDef="let element">
                                <button [routerLink]="['/update-book/',element.id]" mat-icon-button color="primary"
                                        aria-label="Example icon button with a home icon">
                                    <mat-icon color="primary">edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> Delete</th>
                            <td mat-cell *matCellDef="let element">
                                <button (click)="openDialog(element.id)" mat-icon-button color="primary"
                                        aria-label="Example icon button with a home icon">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="detail">
                            <th mat-header-cell *matHeaderCellDef> Detail</th>
                            <td mat-cell *matCellDef="let element">
                                <button [routerLink]="['/detail-book/',element.id]" mat-icon-button color="primary"
                                        aria-label="Example icon button with a home icon">
                                    <mat-icon color="primary">person</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </mat-card>
        </div>
    </div>
</div>
