<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="create-book" #f="ngForm" (ngSubmit)="f.form.valid && ngCreate()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>

                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Name Book:</mat-label>
                        <input matInput name="nameBook" [(ngModel)]="form.title" #nameBook="ngModel" required>
                        <mat-icon color="accent" matSuffix>book</mat-icon>
                        <mat-error *ngIf="nameBook.hasError('required')">The name Book is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Author:</mat-label>
                        <input matInput name="author" [(ngModel)]="form.author" #author="ngModel" required>
                        <mat-icon color="accent" matSuffix>author</mat-icon>
                        <mat-error *ngIf="author.hasError('required')">The name Author is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Description:</mat-label>
                        <input matInput name="description" [(ngModel)]="form.description" #description="ngModel" required>
                        <mat-icon color="accent" matSuffix>book</mat-icon>
                        <mat-error *ngIf="description.hasError('required')">The Description Book is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create
                        Book
                        <mat-icon color="accent" matSuffix>exposure_plus_1</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
